var _ = require('')
extends layout

block content
  h1= title
  p Welcome to "#{title}"
  p The Proverbs #{todaysDate} verse for you today is:

  - var verseArray = JSON.parse(verses)
  - var verseInstance = JSON.parse(verses)[0]

  p #{verseArray[0]}
