var _ = require('')
extends layout

block content
  div.row.text-center
    div.col-lg-4.col-centered
      h1= title
      p The Proverbs #{todaysDate} verse for you today is:

      #message

      p &nbsp;
      div

        button#previous.btn.btn-default.btn-lg Previous
        button#next.btn.btn-default.btn-lg Next



  script.

    // cleaner implementation thanks to
    // http://stackoverflow.com/questions/20360092/jquery-array-with-next-and-previous-buttons-to-scroll-through-entries
    $(function(){
      var messageIndex = 0;

      var wordArray = !{verses}


      $("#previous").on("click", function(e){
          e.preventDefault();
          // JavaScript modulo operator requires us to make a lengthy decrement call
          messageIndex = (messageIndex + wordArray.length -1) % (wordArray.length);
          $("#message").text(wordArray[messageIndex]);
      });

      $("#next").on("click", function(e){
          e.preventDefault();
          messageIndex = (messageIndex+1) % (wordArray.length);
          $("#message").text(wordArray[messageIndex]);
      });

      $("#message").text(wordArray[0]);
    });